<div class="details">
  <div class="game__banner">
    <img
      [src]="game.background_image"
      alt="background_image"
      class="game__banner--img"
    />
  </div>
  <div class="game__content">
    <div class="details__wrapper">
      <div class="game__header">
        <h1 class="game__header--title">{{ game.name }}</h1>
        <h2 class="game__header--release">
          Release: {{ game.released | date }}
        </h2>
        <p class="game__header--genres">
          <span *ngFor="let genre of game.genres; let last = last"
            >{{ genre.name }}<span *ngIf="!last">, </span></span
          >
        </p>
      </div>
      <div class="game__gauge">
        <mwl-gauge
          class="two"
          [max]="100"
          [dialStartAngle]="180"
          [dialEndAngle]="0"
          [value]="gameRating"
          [animated]="true"
          [color]="getColor"
          [animationDuration]="2"
        >
        </mwl-gauge>
        <a
          href="{{ game.metacritic_url }}"
          target="_blank"
          class="game__gauge--label"
          >Metacritic</a
        >
      </div>
      <app-game-tabs [game]="game"></app-game-tabs>
    </div>
  </div>
</div>
